body {
    /* Muda a cor do fundo do site*/
    background-color: #FAFAFA;
}

.menu-inferior {
    display: none;
}

video {
    width: 100%;
    height: 612px;
    margin-left: 1px;
}

.barra-topo {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    /*width: 100vw;*/
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #DBDBDB;
}

.barra-busca {
    /*margin-left: 212px;*/
    margin-left: 11%;
    background-color: #FAFAFA;
    border: 1px red;
    padding: 5px 55px 5px 55px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    /* Modificando a fonte da barra de busca*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #979797;
}

.icones-esquerda {
    display: flex;
    /*margin-left: 190px;*/
}

.icones-esquerda img {
    height: 35px;
    width: 103px;
}
.icones-esquerda ion-icon {
    font-size: 25px;
}

.icones-direita {
    /*margin-left: 212px;*/
    margin-left: 11%;
}

.separador-vertical {
    background-color: #EBEDEF;
    width: 1px; 
    height: 30px;
    margin: 0px 10px 0px 10px;
}

.icones-direita ion-icon {
    font-size: 25px;
    margin-left: 25px;
}

.body-site{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 88px;
}

.caixa-stories {
    height: 120px;
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    /*margin: 134px 0px 0px 215px;*/
    /*background-color: black;*/
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66px;
    height: 85px;
    margin-left: 15px;
    font-family: Roboto;
    font-size: 12px;
}

.story p {
    margin-left: 35%;
}

.icone-stories {
    width: 65px;
    height: 65px;
    margin-left: 25px;
    background-image: url(../icones/stories_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setinha {
    position: absolute;
    right: 1%;
    top: 38%;
    font-size: 30px;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
/*
.icone-stories p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
*/
.icone-stories img {
    border-radius: 100%;
    width: 56px;
}

.posts {
    width: 614px;
    
    margin-top: 38px;
    /*margin: 38px 0px 0px 215px;
    background-color: blueviolet;*/
}

.post {
    width: 614px;
    height: 915px;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    position: relative;
}

.foto-perfil img {
    height: 32px;
    width: 32px;
    margin-left: 17px;
}

.cabecalho p {
    margin-left: 15px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
}

.tres-pontinhos {
    position: absolute;
    color: black;
    right: 18px;
}

.foto-post {
    width: 612px;
    height: 612px;
    margin-left: 1px;
}

.rodape {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.rodape-esquerdo ion-icon{
    margin-left: 18px;
}

.paper-plane{
    position: absolute;
    right: 18px;
}

.curtidas {
    display: flex;
    align-items: center;
    height: 30px;
    font-family: Roboto;
    font-size: 14px;
    margin-left: 17px;
}

.curtidas img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.secao-comentarios {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative;
    font-family: Roboto;
    font-size: 14px;
}

.secao-comentarios img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.mais-comentarios {
    /*position: absolute;*/
    margin-left: 50%;
    font-size: 24px;
}

.comentario-postador {
    display: flex;
    align-items: center;
    margin-left: 16px;
}


.comentario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 10px;
}

.add-comentario {
    display: flex;
    border-top: 1px solid #DBDBDB;
    margin-top: 10px;
    padding-left: 16px;
    padding-top: 10px;
    align-items: center;
}

.add-comentario button {
    color: #B2DFFC;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
    border: none;
    background-color: white;
    padding: 0;
}

.add-comentario ion-icon {
    font-size: 25px;
    margin-right: 10px;
}

.add-comentario button:hover {
    transition: 300ms;
    color: #0095F6;
    cursor: pointer;
}

.add-comentario input {
    border: none;
    width: 500px;
}

.add-comentario input:focus {
    outline: 0;
  }

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 88px;
    height: 500px;
    width: 300px;
    margin-left: 30px;
    /*margin: 134px 0px 0px 33px;*/
}

.main-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 24px;
}

.info {
    /*margin-top: 15px;*/
    margin-left: 17px;
}

.username {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto;
}

.name {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    color: #8e8e8e
}

.titulo-sugestoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    font-family: Roboto;
    font-size: 12px;
}

.cinza {
    color: #8E8E8E
}

.sugestoes {
    display: flex;
    position: relative;
    margin-bottom: 16px;
}

.sugestoes img {
    height: 32px;
    width: 32px;
}

.design-sugestoes {
    display: flex;
    align-items: center;
}

.seguir {
    position: absolute;
    font-family: Roboto;
    font-size: 12px;
    color: #139EF2;
    right: 0px;
}

.letras-miudas {
    color: #c7c7c7;
    font-size: 11px;
    font-family: Roboto;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 18px;
}

@media (max-width: 935px) {
    
    .sidebar {
        display: none;
    }
}

@media (max-width: 614px) {

    .no-mobile {
        display: none;
    }

    .barra-topo {
        justify-content: space-between;
    }

    .icones-esquerda {
        margin-left: 20px;
        width: 55%;
        justify-content: space-between;
    }

    .icones-direita {
        margin-right: 20px;
    }


    .mobile-adapt {
        width: 99vw;
    }

    .menu-inferior {
        height: 54px;
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border: 1px solid #dbdbdb;
        font-size: 20px;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        /*padding: 0px 20px 0px 20px;*/
    }



}